.album-item {
  align-items: center;
  height: 180px;
  margin: 0 4px;
  padding: 10px 20px;
  width: 180px;
}

.album-item:hover {
  opacity: 0.8;
  scale: 1.1;
}

.album-image {
  border: solid 1px var(--color-dark-1);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 var(--color-dark-1);
  height: 100px;
  width: 100px;
}

.album-artist {
  color: var(--color-dark-1);
  font-size: 10px;
  font-weight: 700;
  margin-top: 8px;
  max-height: 20px;
  overflow: hidden;
  padding: 4px 0 8px;
  text-align: center;
  text-overflow: ellipsis;
  white-space: wrap;
}

.album-name {
  color: var(--color-dark-1);
  font-size: 12px;
  max-height: 20px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  white-space: wrap;
}
