/* .header-container {
  display: flex;
  flex-direction: column;
} */

.header-container-superior {
  align-items: center;
  background-color: var(--color-yellow-2);
  height: 100px;
  justify-content: space-between;
}

.logo {
  background-image: url('../assets/logo.png');
  height: 100px;
  margin: 5px 40px;
  width: 164px;
}

.user {
  background-image: url('../assets/user.svg');
  height: 30px;
  margin: 10px;
  width: 30px;
}

.user-container {
  align-items: center;
  background-color: var(--color-dark-1);
  border-radius: 45px;
  display: flex;
  height: 45px;
  justify-content: space-between;
  margin-right: 40px;
}

.user-container p {
  color: var(--color-yellow-1);
  font-size: 12px;
  padding: 8px 40px;
}

.nav-container {
  background: var(--color-dark-1);
  display: flex;
  height: 45px;
  justify-content: space-between;
  text-align: center;
}

.link-nav {
  align-items: center;
  background-color: var(--color-dark-1);
  color: var(--color-yellow-2);
  display: flex;
  font-size: 18px;
  justify-content: center;
  width: 33%;
}

.hidden {
  display: none;
}

