.album-container-header {
  align-items: center;
  background-color: var(--color-gray);
  border-bottom: solid 4px var(--color-yellow-3);
  box-shadow: 0 4px 8px 0 var(--color-dark-1);
  justify-content: center;
  padding: 16px;
  width: 100%;
}

.album-container-header img {
  border: solid 1px var(--color-dark-1);
  border-radius: 4px;
  box-shadow: 0 4px 8px 0 var(--color-dark-1);
  height: 100px;
  margin-left: 100px;
  width: 100px;
}

.album-container-header-text {
  color: var(--color-yellow-3);
  font-size: 16px;
  padding: 12px;
  width: 240px;
}

.track-line-container p {
  color: var(--color-yellow-3);
  font-size: 14px;
  font-weight: 700;
  margin-left: 8px;
}

.album-container-header-text p:nth-of-type( 1 ) {
  color: var(--color-dark-1);
  font-size: 12px;
  font-weight: 700;
  margin-bottom: 4px;
}

.album-container-tracks {
  background-color: var(--color-gray-2);
  padding-top: 20px;
  width: 100%;
}

.track-line-container {
  align-items: center;
  margin-left: calc((100vw / 2) - 180px);
  padding: 5px;
}

.player-container {
  background-color: var(--color-yellow-3);
  border-radius: 32px;
  height: 75px;
  width: 180px;
}

.track-line-container audio {
  height: 73px;
  margin-left: 5px;
  width: 95%;
}

.track-line-container label {
  text-align: center;
  width: 30px;
}
